<div class="black-container">
  <div class="banner" style="background-image: url(<%= image_path("https://res.cloudinary.com/dpi7g4swb/image/upload/v1646846782/Light-8-1_1_1_l6ykfn.png") %>)">
    <div class="navbar-margin">
      <%= render 'shared/navbar' %>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="centered_text">
            <h1>Go to a museum anytime you want!</h1>
          </div>

          <div class="animated-border-quote">
            <%# <div class="animated-border-quote"> %>
              <blockquote>
                <p><%= @quote.text %></p>
                <cite><%= @quote.author %></cite>
              </blockquote>
            <%# </div> %>
          <div>

        </div>
      </div>
    </div>

    </div>
      <br>
      <%= link_to "All Museums", museums_path, class: "btn-gold btn-homepage p-2"%>
    </div>
  </div>
</div>

<%= render 'shared/parallax' %>

<div id="exhibitions" class="both-margin">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card-trip-home">
        <img src="https://www.berlin.de/binaries/asset/image_assets/6773263/source/1626866631/624x468/" alt="alicja kwade">
        <div class="card-trip-infos">
          <div>
            <h3>Alicja Kwade: In Abwesenheit</h3>
            <p>18 September 2021 until 4 April 2022</p>
            <p>Alicja Kwade's installations in the exhibition «In Abwesenheit» («In Absence») transform constructions into models for the perception of time, space and matter.</p> <a class="article-link" href="https://www.berlin.de/en/exhibitions/5976680-5202331-alicja-kwade-in-abwesenheit-in-absence.en.html"> more >></a>
          </div>
        </div>
      </div>
    </div>

  <div class="col-4">
    <div class="card-trip-home">
      <img src="https://static2.abitare.it/wp-content/uploads/2020/07/Zanele-Muholi-10-Ntozakhe-II-Parktown-2016-p.jpg?v=424801/"   alt="zanele">
        <div class="card-trip-infos">
          <div>
            <h3>Zanele Muholi</h3>
            <p>26 November 2021 until 13 March 2022</p>
            <p>The Gropius Bau in Berlin is dedicating the first retrospective in Germany to the South African activist and photographer Zanele Muholi.</p><a href="https://www.berlin.de/en/exhibitions/6772696-5202331-zanele-muholi.en.html" class= "article-link">more >></a>
          </div>
        </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card-trip-home">
      <img src="https://www.berlin.de/binaries/asset/image_assets/6336564/source/1643010204/624x468/" alt="helmut newton">
      <div class="card-trip-infos">
        <div>
          <h3>Helmut Newton. Legacy</h3>
          <p>18 September 2021 until 4 April 2022</p>
          <p>To mark the 100th birthday of the master photographer, the exhibition "Helmut Newton. Legacy" at the Museum of Photography focuses on Newton's fashion photography, including numerous previously unknown or forgotten motifs.</p> <a class="article-link" href="https://www.berlin.de/en/exhibitions/6336553-5202331-helmut-newton-one-hundred.en.html">more >></a>
        </div>
      </div>
    </div>
  </div>

</div>
