

<div class="black-container">
  <div class="navbar-margin">
    <%= render 'shared/navbar' %>
  </div>

  <div class="both-margin-banner sidebyside">
      <div class="centered">
        <div class="navbar-margin">
          <h1>My Profile</h1>
          <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar-large" %>
            <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
            <p>Email: <%= current_user.email %> </p>
            <p>Date of Birth: <%= current_user.date_of_birth %> </p>
        </div>
    </div>


</div>
  <div class = "d-flex justify-content-between">
    <div style="margin-bottom:100px"><%= link_to "To the Homepage", root_path, class: "white-btn" %></div>
    <div style="margin-bottom:100px"><%= link_to "To My Dashboard", dashboard_path, class: "white-btn" %></div>
    <div style="margin-bottom:100px"><%= link_to "Edit My Profile", edit_user_registration_path, class: "white-btn" %>
  </div>
</div>
