<h2>My Profile</h2>
<%= cl_image_tag current_user.photo.key, height: 210, width: 300, crop: :fill %>
<p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
<p>Email Address: <%= current_user.email %> </p>
<p>Date of Birth: <%= current_user.date_of_birth %> </p>


<li><%= link_to "To the Homepage", root_path %></li>
<li><%= link_to "To My Dashboard", dashboard_path %></li>
<li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
