
<div class="black-container">
    <div class="navbar-margin">
      <%= render 'shared/navbar' %>
    </div>

    <div class="single-margin">
      <div>
        <h1>Are you looking for something special?</h1>
        <p>Use our search bar to look for a specific museum in Berlin, an easy way to explore the city and know more about the culture.</p>
        <%= form_tag museums_path, method: :get do %>
          <div class="form-inline">
          <%= form_tag museums_path, method: :get do %>
            <%= select_tag "Topics", options_for_select(Topic.pluck(:name)), multiple: false, include_blank: true, prompt: "Select a Genre" %>
          <i class="fas fa-caret-down"></i>
            <%= submit_tag "Search", class: "white-btn m-4", style: "font-family:'optima'" %>
          <% end %>
          <%= link_to "Open", museums_path(filter: "open"), class: "white-btn" %>
          <%# <%= link_to "Random", museum_path(rand(1..Museum.count)), class: "white-btn m-4" %>
          <%= link_to "Random", museum_path(Museum.find(rand(1..Museum.count))), class: "white-btn m-4" %>
          </div>
        <% end %>
      </div>
      <div class="map" style="width: 100%; height: 600px; border: 1px solid #FFD700"
           data-controller="mapbox"
           data-mapbox-markers-value="<%= @markers.to_json %>"
           data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
  </div>
</div>

<div class="both-margin">
  <h2 class="navbar-brand" style="font-size: 30px">List of All Museums</h2>
  <div class="mt-4 row">

      <% @museums.each do |museum| %>
        <%= render 'shared/card', museum: museum %>
      <% end %>

  </div>
</div>
