<%= form_tag museums_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Location"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<%= link_to "Open?", museums_path(filter: "open"), class: "btn-border-gray" %>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Topic
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @topics.each do |topic| %>
    <a class="dropdown-item" href="#"><%= Topic.name %></a>
    <a class="dropdown-item" href="#">History</a>
    <a class="dropdown-item" href="#">National Socialism</a>
    <a class="dropdown-item" href="#">Ancient Cultures, Archaeology</a>
    <a class="dropdown-item" href="#">5th to 18th Century</a>
    <a class="dropdown-item" href="#">AA</a>
    <% end %>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>



<h1>List of All Museums </h1>
  <ul>
  <% @museums.each do |museum|%>
    <li><%= link_to museum.name, museum_path(museum) %></li>
  <% end %>
  </ul>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to "To the Homepage", root_path %>


<div class="section mt-4 ">
  <div class="row">

    <% @museums.each do |museum| %>

      <div class="col-12 col-md-4 mb-3">

          <div class="card-trip">
            <%= image_tag museum.photo_url,
      width: 400, height: 300, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to museum.name, museum %></h2>
                <p><strong>Location:</strong> <%= museum.address %></p>
              </div>
              <div class="card-trip-pricing">
                <h2>€ <%= link_to museum.price, museum %></h2>
              </div>
            </div>
          </div>

      </div>
    <% end %>

  </div>
</div>
