<%= form_tag museums_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Location"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<h1>List of All Museums </h1>
  <ul>
  <% @museums.each do |museum|%>
    <li><%= link_to museum.name, museum_path(museum) %></li>
  <% end %>
  </ul>

<%= link_to "To the Homepage", root_path %>
