<h1><%= @museum.name%></h1>

<h6><%= link_to "save for later", museum_bookmarks_path(@museum), method: :post %></h6>

<h2>Details about the museum</h2>
<p>Address: <%= @museum.address %></p>
<p>Description: <%= @museum.description %></p>

<%= link_to "Buy your ticket", @museum.ticket_url %>

<h2>Reviews</h2>

<% if !@museum.ratings.size.zero? %>

  <%= @museum.average %>
  <% @museum.average.to_i.times do %><i class="fas fa-star"></i><% end %>
  <% if @museum.average.modulo(1) > 0.5 %><i class="fas fa-star-half-alt"></i><% end %>
  <% @museum.average.modulo(1) > 0.5 ? total_star = 4 : total_star = 5 %>
  <% (total_star - @museum.average.to_i).times do %><i class="far fa-star"></i><% end %>

  <%= pluralize(@museum.ratings.size, 'review') %>

  <% @museum.ratings.first(2).each do |rating|  %>
    <p><strong><%= rating.user.first_name %><br>
    <%= rating.title %>:</strong> <%= rating.comment %></p>
  <% end %>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#potato">
    See all reviews
  </button>
  <!-- Modal -->
  <div class="modal fade" id="potato" tabindex="-1" aria-labelledby="potatoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reviews</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <% @museum.ratings.first(6).each do |rating|  %>
            <p><strong><%= rating.user.first_name %><br>
            <%= rating.title %>:</strong> <%= rating.comment %></p>
          <% end %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>

        </div>
      </div>
    </div>
  </div>

<% else %>
  <p>This museum do now have any review yet</p>
<% end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a rating
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a rating</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
              <div class="row justify-content-center">
                <div class="col-sm-4">
                  <h2>Add your rating</h2>

                  <%= simple_form_for [@museum, @rating] do |f| %>
                  <%= f.error_notification %>

                  <div class="form-inputs">
                    <%= f.input :title %>

                    <%= f.input :comment %>

                    <%= f.input :stars, collection: 0..5 %>
                  </div>
                <div class="form-actions">
                  <%= f.button :submit, "Add" %>
                </div>
                  <% end %>
                </div>
              </div>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<%= link_to "All museums", museums_path %>
