
<div class="black-container">
  <div class="navbar-margin">
    <%= render 'shared/navbar' %>
  </div>

  <div class="single-margin">
    <div class="left">
       <%= link_to "Save for Later", museum_bookmarks_path(@museum),class: "white-btn d-inline-block", method: :post%>
      <h1><%= @museum.name%></h1>

      <h2>Details about the museum</h2>
      <p><%= @museum.description %></p>

      <p>Address: <%= @museum.address %></p><br>
      <%= link_to "Buy your ticket", @museum.ticket_url, class: "white-btn"  %>
    </div>

    <div class="right">
      <%= image_tag @museum.photo_url, class: "image-museum" %>
    </div>
  </div>
</div>

<div class="both-margin">
  <h2>Reviews</h2>

  <% if !@museum.ratings.size.zero? %>
    <%= @museum.average %>
    <% @museum.average.to_i.times do %><i class="fas fa-star"></i><% end %>
    <% if @museum.average.modulo(1) > 0.5 %><i class="fas fa-star-half-alt"></i><% end %>
    <% @museum.average.modulo(1) > 0.5 ? total_star = 4 : total_star = 5 %>
    <% (total_star - @museum.average.to_i).times do %><i class="far fa-star"></i><% end %>

    <%= pluralize(@museum.ratings.size, 'review') %>

    <% @museum.ratings.first(2).each do |rating|  %>
      <p><strong><%= rating.user.first_name %><br>
      <%= rating.title %>:</strong> <%= rating.comment %></p>
    <% end %>

    <!-- Button trigger modal -->
    <button type="button" class="white-btn" data-bs-toggle="modal" data-bs-target="#reviewModal">
      See all reviews
    </button>

    <!-- Button trigger modal -->
    <button type="button" class="white-btn" data-bs-toggle="modal" data-bs-target="#addReviewModal">
      Add a rating
    </button>

  <% else %>
    <p>This museum do not have any review yet</p>
  <% end %>
    <%= link_to "All museums", museums_path %>
</div>


<!-- this one only shows the map without showing the location -->
<div style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>

<!-- Popup-chat -->
<div class="chat-popup" data-controller="chatroom-popup">
  <div class="container hidden chat-popup-top chatroom" data-chatroom-popup-target="chatPopUp"
       data-controller="chatroom-subscription"
       data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@museum, @chatroom, @message],
      remote: true,
      html: {data: {chatroom_subscription_target: "form"}, class: "d-flex"} do |f|
    %>
      <%= f.input :content,
        label: false,
        input_html: { autocomplete: 'off' },
        placeholder: "Enter your message...",
        wrapper_html: {class: "flex-grow-1"}
      %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="chat-button" onclick="this.classList.toggle('active')" id="chat-popup-btn" data-chatroom-popup-target="button" data-action="click->chatroom-popup#hide">
      <div class="button-background"></div>
      <svg class="chat-bubble" width="100" height="100" viewBox="0 0 100 100">
        <g class="bubble">
          <path class="line line1" d="M 30.7873,85.113394 30.7873,46.556405 C 30.7873,41.101961
          36.826342,35.342 40.898074,35.342 H 59.113981 C 63.73287,35.342
          69.29995,40.103201 69.29995,46.784744" />
          <path class="line line2" d="M 13.461999,65.039335 H 58.028684 C
            63.483128,65.039335
            69.243089,59.000293 69.243089,54.928561 V 45.605853 C
            69.243089,40.986964 65.02087,35.419884 58.339327,35.419884" />
        </g>
        <circle class="circle circle1" r="1.9" cy="50.7" cx="42.5" />
        <circle class="circle circle2" cx="49.9" cy="50.7" r="1.9" />
        <circle class="circle circle3" r="1.9" cy="50.7" cx="57.3" />
      </svg>
    </div>
  <% end %>
</div>

<%= render 'shared/modal' %>
